*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
   

}
:root {
   --txt:#E63946;
    --main:#000;
    --para:#000;
    --cvbg:#E63946;
    --cvtxt:#fff;
    --skillCardBg:#fff;
    --barBG:#fff;
    --bartxt:#000;

}
.row{
    margin-top: 3rem!important;
}
body{
    font-size: 22px;
    background:#fff;
    font-family: 'Caveat', cursive;
    /* overflow-x: hidden; */

}

.container{
    width:90vw;
    height:60px;
  
}
.main{
    height: 420px;

}


nav{
    height:60px;
    /* border:1px solid gray; */
    width:100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.title , .links{
    height:100%;
    /* border:1px solid red; */
}
.title{
    width: 20%;
    /* border:1px solid green; */
}
.title p{
    text-align: center;
    line-height: 2;
    font-weight: 400;
}
.title p a{
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color:var(--main);
    font-family: 'Roboto Mono', monospace;
font-weight: 700;
letter-spacing: 3px;
margin: 0px 10px;
color:var(--para);

}
.title p span{
    color: var(--txt);
}


.links-wrap{
    width: 80%;
     /* border:1px solid rgb(199, 198, 198); */
     display: flex;
     justify-content:flex-end;
     align-items: center;
}
.links{
    width: 60%;
   
     /* display:none; */
    
} 
.links ul {
    display: flex;
    justify-content: space-between;
  padding: 0;
 
}
.links ul li{
    list-style: none;
   text-decoration: none;
    display:inline-block;
    line-height: 3;
    
}

.links ul li a{
    text-decoration: none; 
    /* font-size: 1.2rem; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--para);
    position: relative;
}
.links ul li a::after{
   position: absolute;
   content: "";
   bottom: -9px;
left: 0px;
height: 2.5px;
width: 0px;
   background-color: var(--txt);
   transition: 0.4s;
}
.links ul li a:hover::after{
  width:100%;

}
.links ul li a:hover{
    color:var(--txt);
}
.two{
  max-width: 90vw;
  margin-top: 20px;
 margin: auto;
}


.text{
    height:550px;
    /* border:1px solid red; */
    padding-top: 6rem ;
    padding-left: 8rem;
    text-align:left;
    position: relative;
}
.text h2{
    color:var(--main);
}
.img{
    height:450px;
    /* border:1px solid green; */
    
}
.text h1{
   
    padding-left: 3rem;
    height:40px;
    color:var(--txt);
  
}
.text h2{
    padding-top: 0.6rem;
    padding-left: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: var(--main);
}
.text p{
    padding-top:0.6rem;
    font-size: 1.2rem;
    padding-left: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--para);
}
.hello{
    font-family: 'Caveat', cursive;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mypic{
    height: 420px;
    width: 4220px;



border-radius: 50%;
  
}
.mypic img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    
    opacity:1;
}
.about{
    height: 300px;
    max-width: 90vw;
}
.about h1{
   
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--txt);
}
.about p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--para);
    font-size: 18px;
    text-align: center;
    padding:2rem 2rem 0rem 2rem;
}
.skill{
    height: 300px;
    max-width: 90vw;
    /* border: 1px solid red; */
    width: 80%;
    text-align: center;
    position: relative;
    border-radius: 0px!important;
}

.sk{
    /* padding-top: 3.5rem; */
    padding-bottom: 2rem;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--txt);
    
}

.skill h1{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--main);
    z-index: 3;
    /* background-color: #A8DADC; */
    background-color: #fff;
    border-radius:5px;
    border: 1px solid lightgray;
    
}
.skill p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--para);
}
.skill p:last-child{
    margin-bottom: 0px!important;
}
.card-wrap{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.skill{
    max-width: 400px;
    border: 5px solid #fff!important;
    border-radius: 15px!important;
    max-height: 560px;
    background:var(--skillCardBg) !important;
    box-shadow: -5px 8px 41px 18px rgba(200, 199, 199, 0.2) inset;
    box-shadow: 1px 10px 24px -9px rgba(44, 44, 44, 0.615);
}

.card-body{
    z-index: 4;
}
.sk-img{
  height: 50%;
  max-height: 350px;
}
.sk-img img{
    height: 100%;
    width:95%;
  }
.skill::before{
   
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:var(--main);
    background:lightgray;
    height:100%;
    width: 100%;
    z-index: 2;
    clip-path: circle(1.7% at 7% 6%);
    transition: 0.3s;
    border-radius: 15px!important;
   
}
.skill:hover{
    box-shadow: 1px 10px 24px -9px rgba(44, 44, 44, 0.615);
}
.skill:hover.skill::before{
    clip-path: circle(141.4% at 0 0);
}
.skill:hover.skill p{
    /* color:#fff; */
}

.text .themes{
    width: 120px;
    
    height: 50px;
    margin-left: 3rem;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.themes button{
    border-radius: 50%;
    border:3px solid white;
}
.th, .th-2, .th-3 , th-4{
    border:2px solid var(--main);
    height: 30px;
    width: 30px;
    transition: 0.4s;
}
.themes button:hover{
   transform: scale(1.1);
    
}
.th-2{
    background-color: #212A3E;
}
.th-3{
    background-color: #0100A4;
}
.th-4{
    background-color:#FF6D00;
}
.try{
    
    padding-left: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 10px;
    color: var(--main);
}
.projects{
    height: max-content;
    width:90vw;
    /* margin-top: 1rem!important; */
    /* border:1px solid green; */
    margin-bottom: 3rem;
   
}
.pr{
    /* padding-top: 3rem; */
    padding-bottom: 1.5rem;
    text-align:center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--txt);
}
.filter{
    /* border:1px solid green; */
    margin-top: 1.5rem;
    height:50px ;
    width: 100%;
    text-align: center;
    /* margin-bottom: 25px; */
}
.active{
    background-color: #E63946;
    color: white;
}
.filter button{
    height: 30px;
    padding: 20px;
    border:2px solid white;
    line-height: 0.2;
    margin-bottom: 1rem;
    box-shadow: 1px 10px 24px -9px rgba(44, 44, 44, 0.615);
    font-weight: 700;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     justify-content: space-between;
    flex-shrink: 1;
    margin-top: 1.5rem!important;
}
.all-div{
   
    height: 400px;
    margin-top: 1rem !important;
    /* margin-left: 1rem !important;   */
    border-radius: 10px;
    overflow: hidden; 
    border: 4px solid white;
   transition: 0.7s;
   position: relative;
   /* width: 50%; */
   max-width:640px;
   box-shadow: 1px 10px 24px -9px rgba(44, 44, 44, 0.615);
}

.all-div img{
    height: 100%;
    width: 100%;
   /* object-fit: cover; */
}


.all-div:hover{
     transform: scale(1.04);
     -webkit-box-shadow: -1px -1px 22px -6px rgba(0,0,0,0.87);
     -moz-box-shadow: -1px -1px 22px -6px rgba(0,0,0,0.87);
     box-shadow: -1px -1px 22px -6px rgba(0,0,0,0.87);

   }
.caption{
    height: 100%;
    width: 100%;
    right: 0;
    bottom: -400;
    position: absolute;
    font-size: 16px;
    
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    text-align: center;
    /* background: linear-gradient(0deg, #A8DADC  0%, #F1FAEE 35%);  */
    /* background-image: url("images/pro2.jpg"); */
    background-color:#fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
        
      bottom: -330;
}
.all-div:hover .caption{
    bottom: 0;
    background-image: url("images/pro2.jpg");
    backdrop-filter: blur(60%);
   }
   .caption .no-blur{
    background-color: rgb(1, 1, 1); /* Falparaack color */
  display:flex;
 flex-direction: column;
justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin: 0px;
 
padding: 15px;
   }

.caption h1 a {
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    padding-top: 15px;
    text-decoration: none;
}
.caption h1 a:hover{
    color: var(--txt);
}
.caption .no-blur p{
    
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
  display: none;
}


.all-div:hover .caption .no-blur{
    background-color: rgba(1, 1, 1, 0.584);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.all-div:hover .caption .no-blur{
    display:flex;
 flex-direction: column;
justify-content: space-around;
}
.all-div:hover .caption .no-blur p{
  display: inline-block;
}

 .show{
   
    display: block;
    transition: 0.4s;
    transform-origin: center;
}
.hide{
   
    display: none;
    transition: 0.4s;
    transform-origin: center;
}

.ex {
    /* padding:1.5rem 0rem; */
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--txt);
    text-align: center;
    padding-bottom: 1rem;
}
.life h1 a{
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: var(--main);
}
.life h1 a:hover{
    color: var(--txt);
    transition: 0.3s;
}
.life h1 span{
    font-size: 16px;
    padding-left: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--para);
}
.life h3{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--main);
    font-size: 22px;
    padding:10px 0px;
}
.life p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color: var(--para);
    font-size: 16px;
}
.con-row{
    /* border:1px solid fuchsia; */
}

.con{
    padding:0rem 0rem 2rem 0rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: var(--txt);
    text-align: center;

}
.info{
    /* border:1px solid red; */
    height: 500px;
}

.info p span{
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color:var(--main);
    font-size: 16px;  
    padding-right: 1.3rem;
}
.info p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    color:var(--para);
    font-size: 16px;
    text-align: center;
}
.info p:first-child {
    padding-top: 30px;
  }
.form-row{
    height: 700px;
}
.form-control{
    padding:20px 0px;
    margin:30px 0px;
    border-bottom: 2px solid var(--txt);
}
.con form input{
    border:none!important;
    border-bottom: 2px solid #1d3557!important;
}
form button{
    padding: 20px;
    display: block;
    margin: auto;
    background-color:var(--main);
    color: white;
    border: 2px solid white;
    font-weight: 700;
}
form button:hover{
 background-color: var(--txt);
 color: white;
 transition: 0.3s;
 border: 2px solid white;
 box-shadow: 1px 10px 24px -9px rgba(29,53,87,1);
 font-weight: 700;
}
.icon_wrapper{
    height: 60px;
    width: 60px;
    margin: auto;
    display:flex;
    position: relative;
}
.icon_wrapper::before{
    content: "";
    position: absolute;
    bottom: 6px;
    height: 13%;
    width: 15%;
    background-color:var(--txt);
    right: 60px;
    border-radius: 265px;
}
.icon_wrapper::after{
    content: "";
    position: absolute;
    bottom: 6px;
    height: 13%;
    width: 15%;
    background-color: var(--txt);
    left: 60px;
    border-radius: 265px;
}
.icon{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
textarea{
    margin-bottom: 20px;
}
.bro{
/* margin-top:50px; */
    /* width: 100%; */
    /* display: flex; */
    /* border: 1px solid green; */
    height: 500px;
}
.bro-img{
    /* border:1px solid green; */
    width:60%;
    height: 250px;
    margin: auto;
}
.bro-img img{
    height: 100%;
    width:100%;
}
.bro-text p{
    text-align: center;
    padding: 35px;
}
.bro-text{
    /* border:1px solid green; */
    /* width:50%; */
    text-align: center;
    
}
.bro-text button{
    display: block;
    margin: auto;
    padding: 12px;
    margin-bottom: 40px;
    border-radius: 50px;
    color: var(--txt);
    border: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;  
    position: relative;
    background-color: transparent;
    
}
.bro-text button:hover{
    border:2px solid var(--txt);
    box-shadow: 1px 10px 24px -9px rgba(230,57,70,1);
}

.cv{
    text-align: center;
    /* width:60%; */
    padding: 50px;
    
}

.cv a{
    background-color:var(--cvbg);
    color:var(--cvtxt);
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    border-width: 0px;
    padding: 10px;
    box-shadow: 1px 10px 24px -9px rgba(230,57,70,1);
    border: 2px solid #fff;
    
}
.cv a:hover{
    
   /* background-color: #fff;
   color:#E63946; */
   color: #fff;
   outline:2px solid var(--txt);
   outline: offset 10px;
    box-shadow: 1px 10px 24px -9px rgba(230,57,70,1);
}
.social-media p{
    padding-bottom: 5px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
  
.social-media ul{
    width: 70%;
    /* border:1px solid #5f3c1b; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left:0px !important;;
}
.social-media ul li{
    list-style: none;
   text-decoration: none;
    display:inline-block;
    color: #1d3557;
}
.social-media ul li a{
    font-size:30px;
    
    color: var(--para);
   transition: 0.2s  ;  
   position: relative;  
}
.social-media ul li a::after{
position: absolute;
content: "";
bottom:-5px;
left: 0;
background:var(--txt);
height: 10%;
width: 6px;
border-radius: 6px;
transition: 0.6s;

}
.social-media ul li a:hover{
    color:var(--txt);
    transition: 0.2s ;
}
.social-media ul li a:hover::after{
   width:100%;
   height: 10%;
}
  
.footer{
    height: 80px;
    /* margin-top: 4.5rem!important; */
}
.footer p{
text-align: center;
}
.footer p{
    text-align: center;
    }
    .footer p a{
        text-decoration: none;
        font-family: 'Caveat', cursive;
        font-size: 1.5rem;
        color:var(--main);
        font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    letter-spacing: 3px;
    
    }
    .footer p span{
        color:var(--txt);
    }
.footer .h6{
    color:var(--para);
}

    .top{
        height: 50px;
        width: 50px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        border-radius: 50px;
        overflow: hidden;
    }
    .top button{
        height: 100%;
        width:100%;
        font-size :50px;
        line-height:1;
        color: black;
        opacity: 0.5;
        background-color: transparent;
        transition: 0.4s;
        display: none;
        }
        .top button:hover{
            transform: scale(1.1);
            color:var(--txt);
            opacity: 1;
        }

.bar{
    display:none;
    font-size: 30px;
    color:var(--txt);
}
.bar-color{
    color:var(--para);
}
.bro-text .lc{
    font-weight: 700;
    color: var(--para);
    font-family: 'Roboto Mono', monospace;
}
input[type="text"], input[type="password"], input[type="email"],  textarea.form-control {
    border: none;
    outline: none;
    width: 60%;
    margin:50px auto;
     /* You can adjust the color and thickness of the outline */
  }

  @media screen and (max-width: 1100px){
    nav{
        position: relative;
    }

    .main{
        height: 500px;
        margin-top: 30px!important;
    }
    .about{
        height: max-content;
    }
    .links-wrap{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links{
        width: 100%;
        height:200px;
        position: absolute;
        top:50px;
        right:0px;
         background-color:var(--barBG);
        box-shadow: 1px 10px 24px -9px var(--txt);
        display: none;
        z-index: 3;
    }
    .bar{
        display: block;
    }
    .links-wrap{
        width: 10%;
    }
    .links ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
      .links ul li{
        color: var(--bartxt);
    }
    .bro{
        flex-direction: column;
        margin:40px 0px;
    }
    .bro-text p{
        padding: 15px;
    }
    .caption{
        bottom: -278px;
    }
    .text{
        padding-top: 0rem ;
    }
    .cv a{
        letter-spacing: normal;
        font-size: 16px;
        padding: 10px;
    }
    .card-wrap{
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    .skill{
        max-width: 90vw;
        max-height: 640px;
    }
    .skill p:last-child{
        padding-bottom: 10px;
    }
    .skill:not(.skill:first-child){
     margin-top: 30px;
    }
    .all-div{
        width: 100%;
    }
      .try
      {
          padding:0px;
          text-align:center;
      }
  }

 


@media screen and (max-width: 750px) {
    nav{
        position: relative;
    }
    .bro-text button::before{
        min-width: calc(250px + 14px);
      min-height: calc(70px + 12px);
    }
    
    .links{
        width: 100%;
        height:200px;
        position: absolute;
        top:50px;
        right:0px;
       background-color:var(--barBG);
        display: none;
        z-index: 3;
    }
     .bar{
        width: max-content;
    }
    
    .title {
        width: max-content;
       
    }
    .main {
    
      position: relative;
      height: max-content;
      
    }
    .mypic{
        height:320px;
    
    }

    .text{
        /* padding: 1rem; */
        /* margin-bottom: 1rem; */
        height:max-content;
        text-align: center;
    }
    .text h1{
        padding:1rem;
       }
    .text h2{
     padding:1rem;
    }
    .text p{
        padding: 1rem 1rem 0rem 1rem; 
      
    }
    /* .text ul{
        width: 90%;
        padding: 0px!important;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .text ul li a{
        margin: 0px;
    } */
    .sk{
        padding-top: 1rem;
    }
   
    .about {
        height: max-content;
    }
    .about h1{
        padding-top: 0px;
    }
    .about p{
        padding: 1rem;
        
    }
    .filter button{
        padding: 3.5%;
    }
    .sec-ex{
        margin-top: 2rem!important;
    }
    .bro{
        flex-direction: column;
        margin:40px 0px;
        height: 420px;
    }
    .bro .bro-img{
        width: 100%;
    }
    .bro .bro-text{
        width: 100%;
    }
    .caption p{
        padding: 20px;
    }
    input[type="text"], input[type="password"], input[type="email"],  textarea.form-control
    {
        width: 90%;
    }
    .text .themes{
        margin: auto;
    }
    .social-media ul{
        width: 90%;
    }
    .life h1{
        font-size: 20px;
    }
    .life h3{
        font-size: 18px;
    }
     .try
      {
          padding:0px;
          text-align:center;
      }

  }
  @media screen and (max-width:400px){
    .bro-text button::before{
        min-width: calc(310px + 14px);
      min-height: calc(50px + 12px);
    }
    .caption p{
        padding: 6px;
        font-size: 14px;
    }
    .text p{
        padding: 1rem 0rem 0rem 0rem; 
    }
    .about p{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .life h1 span {
        font-size:12px;
        padding-left: 10px;
    }
    .skill p:last-child {
        padding-bottom: 30px;
    }
       .try
      {
          padding:0px;
          text-align:center;
      }

}
  @media screen and (max-width: 400px){
    .info p{
        font-size: 13px;
    }
    .bar {
       right: 20px;
        
    }

       .try
      {
          padding:0px;
          text-align:center;
      }
    
  } 
  @media screen and (max-width: 350px){
    .bar{
     right: 10px;
    }
       .try
      {
          padding:0px;
          text-align:center;
      }
  }


  






